body{
    font-family: 'Courier New', Courier, monospace;
    background-color: darkgrey;
    margin: 0;
    padding: 0;

}

#navegation{
    padding: 3em;
    
    margin: 0;
    background-color: aquamarine;
    

}
#enlace{
    word-spacing: 0.1em; 
    text-align: right;
    margin-top: -3.5em;
}
#enlace button{

    font-size: 1em;
    border-radius: 8px;
    border-color: rgb(10, 197, 66);
    background-color: tomato;
    
}
#enlace a{
    text-decoration: none;
    font-size: 1em;
    color: white;
}

#logo{
    margin-top: -0.6em;
    font-size: 5em;
}

#text h1{
    text-align: center;
    font-size: 3em;
}
#parrafo{
    width: 90%;
    text-align: justify;
    font-size: 1em;
    margin-left: 3em;
}

#parrafo p{
    font-family: arial;
    
}
#img{
    text-align: center;
    
}